.aboutUs {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
  background-color: rgba(15, 27, 76, 0.05);
  border-radius: 50px;
  margin-top: 50px;
}

.glassCard {
  max-width: 800px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}