:root {
  --primary-button: #298A45;
  --flash-bg: #a2e6b6;
  --app-bg: #c8eaf0;
  --card-bg: #ffffff;
  --header-text: #298A45;
  --body-text: #374151;
  --accent-text: #ffa999;
  --burnt-red: #a7391e;
  --font-family-inter: 'Inter', sans-serif;
  --footer-text: #ffffff;
}
