.container {
  width: 90%;
  max-width: 1100px;
  margin: -60px auto 2rem;
  padding: 2rem;
  background-color: rgba(190, 230, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1.5rem;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 25;
  position: relative;
}

.formGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 1rem;
  align-items: flex-end;
}

.labelInput {
  flex: 1 1 15%;
  min-width: 160px;
}

label {
  font-weight: 500;
  font-size: 0.95rem;
  margin-bottom: 4px;
  display: block;
  color: black;
}

input,
select {
  padding: 0.75rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #000;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.3);
}

.refreshBtn {
  background: none;
  border: none;
  font-size: 0.9rem;
  color: white;
  margin-top: 0.5rem;
  cursor: pointer;
  text-decoration: underline;
}

.swapButton {
  background-color: rgba(27, 23, 23, 0.8);
  border: none;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 10px 12px;
}

.swapButton:hover {
  background-color: #f0f0f0;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.buttonSpinner {
  width: 28px;
  height: 28px;
  border: 3px solid black;
  border-top: 3px solid rgb(0, 132, 132);
  border-radius: 50%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.alertMessageContainer {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(190, 230, 255, 0.3);
  height: 100px;
  width: 50%;
  border-radius: 30px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.alertMessage {
  color: black;
  font-size: 1rem;
}

.modalOverlay {
  position: fixed;
  top: 16rem;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin: 0;
  padding: 0;
}

.modal {
  background-color: rgba(0, 0, 0, 0.35);
  width: 80px;
  height: 80px;
  padding: 0;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 32px;
  height: 32px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: rgb(0, 132, 132);
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}