@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import "../../styles/theme.css";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--card-bg);
  font-family: var(--font-family-inter);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 50px;
  width: auto;
  transform: translateY(-3px);
}

.brandName {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

body::before {
  content: "";
  display: block;
  height: 60px;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navLink {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 10px;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navLink:hover {
  background-color: rgb(84, 156, 156);
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navButton {
  background-color: rgb(104, 186, 186);
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: white;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navButton:hover {
  background-color: rgb(84, 156, 156);
}
